/* Obter width total do monitor usando CSS3 */

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}


/* Cor da letra do placeholder */

::-webkit-input-placeholder {
    color: #0A3871;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #0A3871;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #0A3871;
}


/* Remover borda dos inputs quando clicado */

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

html {
    position: relative;
    max-width: 1440px;
    max-height: 1024px;
}

body {
    background: #D8DFE8;
}

#cabecalho {
    margin: 40px 1240px 916px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
}

.logo {
    /* Logo */
    width: 120px;
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.copyright {
    font-size: 18px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    color: #0A3871;
    display: inline-block;
    position: relative;
    width: 100%;
    top: 100px;
}

footer a {
    text-decoration: none;
}